*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/sonarlint/issuestore/2/e/2e4cf8ee5ff13ee581dffa2d0ca15f15fcf8d2dc
.idea/misc.xml
